@media screen and (max-width: 1400px) {
  #profile {
    height: 60vh;
    margin-bottom: 6rem;
    justify-content: center;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contacts,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: flex;
  }
  #hamburger-nav {
    display: none;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .home{
    margin: 3rem 0;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {

  .bodymovinanim{
    display: none;
  }

  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #profile {
    height: fit-content;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_pic-container {
      width: 100%;
      max-width: 500px; /* Limita a largura máxima em 275px */
      height: auto; /* Mantém a proporção da imagem */
      margin: 0 auto 2rem;
      display: flex;
      justify-content: center;
  }
  
  .section_pic-container img {
      width: 100%;
      height: auto;
      object-fit: cover; /* Ajusta a imagem para caber sem distorcer */
      border-radius: 50%; /* Mantém o formato circular da imagem */
  }    

  .section_pic-container {
    width: 200px;
    height: 200px;
    margin-bottom: -30px;
    margin-top: 10px;
  }

  .section_text {
    text-align: center;
  }

  .btn-container {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .socials-container {
    display: flex;
    justify-content: center;
  }
    .socials-container a {
      display: inline-block;
    }


  #contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 10rem 0;
      gap: 1rem;
  }

  article {
    font-size: 1rem;
  }

  .article-container{
    flex-flow: column;
    align-items: center;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
  
  .toggle-theme{
    display: flex;
    height: auto;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
  }

  .text-container {
    text-align: justify;
  }
  .home{
    margin: 3rem 0;
    align-content: center;
    justify-content: center;
  }
  .details-container-languages{
    display: flex;
  }
  .h3-languages{
    margin: auto;
    text-align: center;
    width: 50%;
  }
  .flag{
    padding-right: 10px;
  }

  /* Estilo para o ícone de troca de tema */
.transition {
  transition: all 300ms ease;
}

.toggle-theme {
  cursor: pointer;
  display: inline-block;
  margin-top: 0.5rem;
}

#theme-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
  padding-top: 0.5rem;
  transition: all 100ms ease; /* Suaviza a transição */
}

/* Modo claro (ícone de lua) */
body:not(.dark-mode) #theme-icon {
  filter: brightness(100%);
}

/* Modo escuro (ícone de sol) */
body.dark-mode #theme-icon {
  transform: rotate(180deg);
  content: url('./assets/sun-yellow.svg'); /* Gira o ícone do sol, só para dar um efeito */
}
body.dark-mode #theme-icon:hover {
  content: url('./assets/sun-yellow.svg'); /* Se o hover não for necessário no modo escuro, pode ser removido */
}

}

